.file-system-window-container {
    border: 2px solid rgb(119, 241, 255);
    background-color: rgb(255, 253, 255);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 75%;
    overflow: auto;
}
