body {
  background-color: rgb(31, 122, 213);
}


.app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 3rem;
}
.title {
  color: white;
  font-size: 2.4rem;
}